html {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    background-color: beige;    
}

header {
    text-align: center;
    background-color: rgb(29, 221, 228);
    color: azure;
    padding: 0;

}

header h1 {
    margin: 0 auto;
    width: 700;
    font-size: 4rem;
    text-align: center;
}

.container {
    width: 700px;
    margin: 0 auto;

}

section article {
    transition: box-shadow 0.3s ease;
    background-color: deepskyblue;
    margin: 1rem 0;
    border-radius: 0.5rem;
    color: #fff;
    padding: 1.25rem 0rem;
    cursor: grab;
}

section article:hover {
    box-shadow: 0 0.1rem 0.5rem rgb(0,0,0,0.8) ;
}

section article h2, section article p {
    margin: 1rem;
}
footer {
    background-color: #222;
    padding: 3rem;
    color: #fff;
}

footer section {
    float: right;
}

footer p {
    margin: 0;
}

footer a {
    transition: color 0.3 ease;
    color: #fff;
    text-decoration: none;
}

footer a:hover { 
    color: mediumslateblue;
}

.align-center {
    text-align: center;
}